{% extends "cities/base.html" %}
{% load static %}

{% block content %}
<h1>{{ city.name }}</h1>
<img class="img-fluid" src="{% static 'cities/'|add:city.image_file %}">
<p>{{ city.description |safe }}</p>
{% if letters %}
<div class="alert alert-danger m-3" role="alert">
    Note that the letters below are user-generated content, and not
    the work of the website author.
</div>
<div class="d-flex flex-wrap">
    {% for letter in letters %}
    <div class="card m-2 bg-warning bg-gradient bg-opacity-25" style="width: 14rem">
        <div class="card-body">
            <h5 class="card-title">{{ letter.author|add:' says' }}</h5>
            <p class="card-text">{{ letter.content }}</p>
        </div>
        <div class="card-footer">
            {{ letter.pub_date }}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="alert alert-info m-3" role="alert">
    <a href="/{{city.id}}/write_letter" class="link-primary">Write a letter to this city!</a>
</div>

{% endblock %}
